<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/main.css' />
</head>

<body>
    <main>
        <h1><%= title %></h1>
        <p>Bem vindo ao <strong> <%= title %></strong></p>
        <a href="/curriculo"> Meu curriculo</a>
    </main>

    <footer>
        <p> Versão <%= version %></p>
    </footer>
</body>

</html>